# Recovery keybind to restart Quickshell in case it crashes while locked.
# Because of ext-session-lock-v1, a new client can take over an existing lock.
bind = SUPER SHIFT, Escape, exec, killall qs; qs -c xeon-shell
